<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Hello, world!</title>
</head>

<body>


    <nav class="navbar navbar-expand-lg nav1">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="../img/solteca.png" class="img2" alt="" width="30" height="26">
            </a>
            <a class="navbar-brand" href="#" style="color: white;">La Solteca</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <ul class="navbar-nav mr-auto">
                        <img src="../img/user.jpg" alt="" class="img3">
                        <li class="nav-item">

                            <a class="nav-link disabled  mr-sm-2" href="#" style="color: white;"> Juana Martínez Méndez </a>
                        </li>
                    </ul>
                    <button class="btn btn-danger my-2 my-sm-0" type="submit">Cerrar Sesión</button>
                </form>
            </div>
        </div>
    </nav>



    <div class="container">
        <div class="row text-center" style="padding-top: 135px;">
            <div class="col-sm-2">

            </div>
            <div class="col-sm-4">
                <div class="card" style="width: 15rem; border-style: none;">
                    <img class="card-img-top" src="../img/Ventas.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center" style="font-weight: bold;">
                            <a type="button" class="btn" href="reportes.html" style="border-radius: 40px; background-color: #0B62A5; color: white; width: 150px; font-weight: bold; font-size: 18px;">Reportes</a>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width: 15rem; border-style: none;">
                    <img class="card-img-top" src="../img/Usuarios.jpg" style="height: 220px;" alt="Card image cap">
                    <div class="card-body">
                        <a type="button" class="btn " href="administracion.html" style="border-radius: 40px; background-color: #0B62A5; color: white; width: 180px; font-weight: bold; font-size: 18px;">Administración</a>
                    </div>
                </div>

            </div>
            <div class="col-sm-2">

            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>